/* Custom Stylesheet 
*/
 
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .rsvp label{
  color: #b9cecc !important;
  }
 
 .all-half {
	min-height: 50vh;
 }
 
  .all-full {
	min-height: 100vh;
 }
 
/* Tablet */
@media only screen and (max-width : 992px) {

 .tablet-full {
	min-height: 100vh;
 }
  
  #index-banner .section {
    top: 10%;
  }
  
  .not-so-small {
    min-height: 300px;
  }
  
  .not-so-small>.section {
		margin-top: -50px;
  }
   .tablet-half {
	min-height: 50vh;
 }
}

#index-banner {
	background-color: #113c4c;
	background: url(../img/stars2400.jpg);
	color: white;
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100vh;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.not-so-small {
min-height: 200px;
}
 
/* mobile */
@media only screen and (max-width : 500px) {
 .mobile-full {
	min-height: 100vh;
 }
 .mobile-half {
	min-height: 50vh;
 }
  #index-banner .section {
    top: 0;
  }
  #index-banner {
    min-height: 500px;
  }
  #head {
	font-size: 3em !important;
  }
}

@media only screen and (min-width : 700px) {
	.large-text {
		font-size: 2.2em;
		line-height: 3em;
	}
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/************************ LANGS ************************/
@font-face {
    font-family: klingon;
    src: url(../fonts/klingon.ttf);
}

.kl {
  font-family: klingon;
 }
 .kl-fix {
  font-family: klingon;
 }
 
 @font-face {
    font-family: elfique;
    src: url(../fonts/tngani.ttf);
}
 @font-face {
    font-family: blacksword;
    src: url(../fonts/Blacksword.otf);
}
.blacksword {
	font-family: blacksword;
}
#head {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
	writing-mode: lr-tb;
	margin-top:0.7em;
	margin-bottom: 0.9em;
}

.el {
  font-family: elfique;
 }
 .el-fix {
  font-family: elfique;
 }
 /************************ COUNTDOWN ************************/
 .countdown-elt {
    background: white;
    color: black;
    padding: 0.2em;
    margin: 0.2em;
    width: 3em;
    display: inline-block;
}

.container-cd{
    line-height: 1.8em;
    font-size: 1.2em;
    display: inline-block;
    width: 5em;
}

.date {
    border-top: 2px solid#ffffff;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.6em;
	margin-top:0;
}

.pres-img {
	width: 126px;
	height: 126px;
}
 .img-card {
     filter: grayscale(100%);
    -webkit-filter: saturate(40%);
 }
 /************************ HR BLOCK ************************/
 hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
  margin: 0; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -18px; 
  left: 40px; 
  padding: 0 3px; 
  z-index: 111;
  color: #8c8b8b; 
  font-size: 24px; 
}

.block-hr {
	background: url(../img/test.jpg);
	background-attachment: fixed;
	min-height:50vh; 
	position: relative;
}

hr.style17 {
	border-top: 1px solid grey;
	text-align: center;
}
hr.style17:after {
	content: '\00A7';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
    background: url(../img/test.jpg);
	color: grey;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
/************************ BIG ICONS ************************/
.big-icons{
    padding-right: 0.2em;
    font-size: 1.2em;
    background: #26a69a;
    color: #dfe8e7;
}

.rsvp-title {
	font-family: 'Yatra One', cursive;
	text-shadow: 2px 2px rgba(0, 125, 113, 0.55), 5px 0px 5px #2c3b46;
}
