/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@font-face {
    font-family: klingon;
    src: url(../fonts/klingon.ttf);
}

.kl {
  font-family: klingon;
 }
 
 @font-face {
    font-family: elfique;
    src: url(../fonts/tngani.ttf);
}

.el {
  font-family: elfique;
 }
 
 .countdown-elt {
    background: white;
    color: black;
    padding: 0.2em;
    margin: 0.2em;
    width: 3em;
    display: inline-block;
}

.container-cd{
    line-height: 1.8em;
    font-size: 1.2em;
    display: inline-block;
    width: 5em;
}

 