/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

  .not-so-small {
    min-height: 200px;
  }
  
@media only screen and (max-width : 992px) {
  .not-so-small {
    min-height: 300px;
  }
    .not-so-small>.section {
		margin-top: -50px;
  }
}

@media only screen and (max-width : 500px) {
  #index-banner .section {
    top: 0;
  }
  #index-banner {
    min-height: 500px;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@font-face {
    font-family: klingon;
    src: url(../fonts/klingon.ttf);
}

.kl {
  font-family: klingon;
 }
 .kl-fix {
  font-family: klingon;
 }
 
 @font-face {
    font-family: elfique;
    src: url(../fonts/tngani.ttf);
}
 @font-face {
    font-family: blacksword;
    src: url(../fonts/Blacksword.otf);
}
.blacksword {
	font-family: blacksword;
}
#head {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
	writing-mode: lr-tb;
	margin-top:0.7em;
	margin-bottom: 0.9em;
}

.el {
  font-family: elfique;
 }
 .el-fix {
  font-family: elfique;
 }
 
 .countdown-elt {
    background: white;
    color: black;
    padding: 0.2em;
    margin: 0.2em;
    width: 3em;
    display: inline-block;
}

.container-cd{
    line-height: 1.8em;
    font-size: 1.2em;
    display: inline-block;
    width: 5em;
}

.date {
    border-top: 2px solid#ffffff;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.6em;
	margin-top:0;
}

.pres-img {
	width: 126px;
	height: 126px;
}
 .img-card {
     filter: grayscale(100%);
    -webkit-filter: saturate(40%);
 }
 
 hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
  margin: 0; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -18px; 
  left: 40px; 
  padding: 0 3px; 

  color: #8c8b8b; 
  font-size: 24px; 
}

.block-hr {
	background: url(../img/test.jpg);
}

hr.style17 {
	border-top: 1px solid grey;
	text-align: center;
}
hr.style17:after {
	content: '\00A7';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
    background: url(../img/test.jpg);
	color: grey;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.big-icons{
    padding-right: 0.2em;
    font-size: 1.2em;
    background: #26a69a;
    color: #dfe8e7;
}


