@charset "utf-8";
	.Styledecaractresnormal
{
	font-family : Palatino Linotype;
	font-style : italic;
	font-size : 6px;
	color : #E0B06F;
	color : rgb(224, 176, 111);
}
.Styledecaractresnormal36
{
	font-family : Palatino Linotype;
	font-size : 9px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal35
{
	font-family : Palatino Linotype;
	font-size : 9px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal41
{
	font-family : Palatino Linotype;
	font-size : 11px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal37
{
	font-family : OCR A Extended;
	font-size : 9px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal40
{
	font-family : Palatino Linotype;
	font-size : 11px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal39
{
	font-family : Palatino Linotype;
	font-size : 11px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal38
{
	font-family : Palatino Linotype;
	font-size : 11px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal27
{
	font-family : Palatino Linotype;
	font-size : 6px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal29
{
	font-family : Palatino Linotype;
	font-weight : bold;
	font-size : 5px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal28
{
	font-family : Palatino Linotype;
	font-style : italic;
	font-size : 5px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal30
{
	font-family : Palatino Linotype;
	font-size : 6px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal31
{
	font-family : Palatino Linotype;
	font-size : 20px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal23
{
	font-family : Palatino Linotype;
	font-size : 9px;
	color : #DDB37C;
	color : rgb(221, 179, 124);
}
.Styledecaractresnormal25
{
	font-family : Palatino Linotype;
	font-size : 9px;
	color : #DDB37C;
	color : rgb(221, 179, 124);
}
.Styledecaractresnormal34
{
	font-family : Palatino Linotype;
	font-size : 9px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal26
{
	font-family : Palatino Linotype;
	font-weight : bold;
	font-size : 12px;
	color : #DDB47C;
	color : rgb(221, 180, 124);
}
.Styledecaractresnormal32
{
	font-family : Palatino Linotype;
	font-size : 9px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal24
{
	font-family : Palatino Linotype;
	font-size : 11px;
	color : #DDB37C;
	color : rgb(221, 179, 124);
}
.Styledecaractresnormal33
{
	font-family : Palatino Linotype;
	font-size : 6px;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal2
{
	font-family : Palatino Linotype;
	font-weight : bold;
	font-size : 6px;
	color : #E0B06F;
	color : rgb(224, 176, 111);
}
.Styledecaractresnormal15
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal8
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal10
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal6
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal7
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal11
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal9
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal14
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal4
{
	font-family : Palatino Linotype;
	font-size : 25px;
	color : #E0B06F;
	color : rgb(224, 176, 111);
}
.Styledecaractresnormal3
{
	font-family : Palatino Linotype;
	font-size : 7px;
	color : #E0B06F;
	color : rgb(224, 176, 111);
}
.Styledecaractresnormal17
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal13
{
	font-family : Odessa LET;
	font-size : 24px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal5
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal19
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal12
{
	font-family : Berlin Sans FB;
	font-size : 6px;
	color : #3C3C3B;
	color : rgb(60, 60, 59);
}
.Styledecaractresnormal21
{
	font-family : Berlin Sans FB;
	font-size : 6px;
	color : #3C3C3B;
	color : rgb(60, 60, 59);
}
.Styledecaractresnormal22
{
	font-family : Odessa LET;
	font-size : 24px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal1
{
	font-family : Palatino Linotype;
	font-style : italic;
	font-size : 6px;
	color : #E0B06F;
	color : rgb(224, 176, 111);
}
.Styledecaractresnormal18
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal20
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.Styledecaractresnormal16
{
	font-family : Berlin Sans FB;
	font-size : 7px;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
