@charset "utf-8";
	.st0
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st1
{
}
.st2
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st3
{
	background : #F0E5D5;
	background : rgba(240, 229, 213, 1);
}
.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
}
.st4
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
}
.st5
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
}
.st6
{
}
.st7
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st8
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
}
.st9
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st10
{
	border-style : Solid;
	border-color : #988961;
	border-color : rgba(152, 137, 97, 1);
	border-width : 0pt;
}
.st11
{
	border-style : Solid;
	border-color : #988961;
	border-color : rgba(152, 137, 97, 1);
	border-width : 0pt;
}
.st12
{
	border-style : Solid;
	border-color : #988961;
	border-color : rgba(152, 137, 97, 1);
	border-width : 0pt;
}
.st13
{
	border-style : Solid;
	border-color : #988961;
	border-color : rgba(152, 137, 97, 1);
	border-width : 0pt;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.st14
{
	border-style : Solid;
	border-color : #988961;
	border-color : rgba(152, 137, 97, 1);
	border-width : 0pt;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.st15
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st16
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st17
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st18
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st19
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st20
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st21
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st22
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st23
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.st24
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st25
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st26
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st27
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st28
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st29
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.st30
{
	background : #988961;
	background : rgba(152, 137, 97, 1);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.Styledecaractresnormal4
{
	font-family : Palatino Linotype;
	font-size : 20pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal3
{
	font-family : Palatino Linotype;
	font-size : 6pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal2
{
	font-family : Palatino Linotype;
	font-weight : bold;
	font-size : 5pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal1
{
	font-family : Palatino Linotype;
	font-style : italic;
	font-size : 5pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal
{
	font-family : Palatino Linotype;
	font-size : 6pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal14
{
	font-family : Palatino Linotype;
	font-size : 11pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal13
{
	font-family : Palatino Linotype;
	font-size : 11pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal12
{
	font-family : Palatino Linotype;
	font-size : 11pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal11
{
	font-family : Palatino Linotype;
	font-size : 11pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal10
{
	font-family : OCR A Extended;
	font-size : 9pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal9
{
	font-family : Palatino Linotype;
	font-size : 9pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal8
{
	font-family : Palatino Linotype;
	font-size : 9pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal7
{
	font-family : Palatino Linotype;
	font-size : 9pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal6
{
	font-family : Palatino Linotype;
	font-size : 6pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
.Styledecaractresnormal5
{
	font-family : Palatino Linotype;
	font-size : 9pt;
	color : #988961;
	color : rgb(152, 137, 97);
}
